<h3> <%= @task.name %> </h3>
<%= render partial: "partials/structure2", locals: {model_name: "task",
                                                         object: @task,
                                                         primary: "task_details",
                                                         secondary: nil,
                                                         sidebar: nil} %>
