<h3><%= @user.proper_name %></h3>

<%= render partial: "partials/structure2", locals: {model_name: "user",
                                                         object: @user,
                                                         primary: "user_details",
                                                         secondary: "completed_tasks",
                                                         sidebar: nil,
                                                         third_card: "created_tasks"} %>
