<h3>Domain: <%= @domain.name %></h3>
<%= render partial: "partials/structure2", locals: {model_name: "domain",
                                                         object: @domain,
                                                         primary: "domain_details",
                                                         secondary: nil,
                                                         sidebar: nil} %>
