<h3>Project: <%= @project.name %></h3>
<%= render partial: "partials/structure2", locals: {model_name: "project",
                                                         object: @project,
                                                         primary: "project_details",
                                                         secondary: "project_assignments",
                                                         sidebar: "project_tasks_all"} %>
